<!doctype html>
<html ng-app>
<head>
  <title>My Angular Project</title>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="angular.min.js"></script>
  <script type="text/javascript" src="todo.js"></script>
  <link rel="stylesheet" type="text/css" href="todo.css">
</head>
<body>

  <div class="container">
    <h2>TODO</h2>
    <div ng-controller=TodoCtrl>
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form class="form-inline" ng-submit="addTodo()">
        <input type="text" size="30" ng-model="todoText" placeholder="add new todo here">
        <input class="btn btn-primary" type="submit" value="add">
      </form>
    </div>
  </div>

</body>
</html>
